//blue

    $blue-0: #f6f8fc; 
    $blue-1: #edf1f8; 
    $blue-2: #d3dcee; 
    $blue-3: #b8c7e4; 
    $blue-4: #839dcf; 
    $blue-5: #4e73bb; 
    $blue-6: #4668a8; 
    $blue-7: #3b568c; 
    $blue-8: #2f4570; 
    $blue-9: #26385c;

//gray
    $gray-0: #fbfbfb; 
    $gray-1: #f7f7f7; 
    $gray-2: #eaeaeb; 
    $gray-3: #dededf; 
    $gray-4: #c5c5c6; 
    $gray-5: #acacae; 
    $gray-6: #9b9b9d; 
    $gray-7: #818183; 
    $gray-8: #676768; 
    $gray-9: #545455;