.stack{
    &_h{
        display: flex;
        & > *{
            &:not(:first-child){
                margin-left: 0.8rem;
            }
        }
    }
    &_v{
        display: flex;
        flex-direction: column;
        & > *{
            &:not(:first-child){
                margin-top: 0.8rem;
            }
        }
    }
}