.createpost{
    &_write{
        display: flex;
        align-items: flex-start;
        &-wrapper{
            width: max-content;
        }
    }

    &_activity{
        &_stack{
            display: flex;
            flex-wrap: wrap;
            &:last-child{
                position: relative;
                button{
                    width: 100%;
                }
            }
            &:not(:first-child){
                margin-top: 0.5rem;
            }
            &--button{
                flex: 0.5;
                &:nth-child(even){
                    margin-left: 0.5rem;
                }
                &:nth-child(odd){
                    margin-right: 0.5rem;
                }
            }
        }
    }
}